* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div {
  width: 200px;
  background-color: beige;
}

.oclock {
  display: flex;
}
.oclock div {
  padding: 10px;
}

.box {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  margin-bottom: 30px;
}

button {
  padding: 12px 8px;
}

.hidden {
  display: none;
}
.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-yelow {
  background-color: yellow;
}

.colorList .color {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
}
