* {
  padding: 0;
  margin: 0;
}

.ss2 {
  width: 800px;
  height: 500px;
  background-color: antiquewhite;
  margin: 0 auto;
}
ul {
  list-style: none;
}

.ai_img {
  background-image: url("./AI.jpg");
  width: 100%;
  height: 500px;
  border-radius: 10px;
  background-size: cover;
  position: relative;
}

.title {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 5px;
  top: 20px;
  left: 20px;
  font-size: 14px;
  padding: 4px 6px;
}

.ss2 ul {
  position: absolute;
  top: 25%;
  right: 25px;
  color: white;
  font-size: 30px;
}

.ss2 ul li {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid white;
}

.active {
  background-color: red;
}

ul li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 45px;
  left: 49%;
  height: 21px;
  width: 2px;
  background-color: white;
}

ul li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 112px;
  left: 49%;
  height: 21px;
  width: 2px;
  background-color: white;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

.header {
  color: white;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 40px 30px;
}

.header_title {
  font-size: 40px;
  font-weight: 700;
}
.desscription {
  font-size: 20px;
  font-size: 500;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: black;

  opacity: 0.7;
}

.overlay1 {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 50%;
  height: 50%;
  content: "";
  background-color: rgb(126, 117, 117);
  border-radius: 30px;
  opacity: 0.2;
}

.overlay2 {
  position: absolute;
  top: 120px;
  left: 170px;
  width: 50%;
  height: 50%;
  content: "";
  background-color: black;
  border-radius: 30px;

  opacity: 0.5;
}
